<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apifacelorbrito.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1779d6bd-7e6d-4801-a64d-85baa6f63a32/resourceGroups/faceapigroup/providers/Microsoft.Web/sites/apifacelorbrito</ResourceId>
    <UserName>$apifacelorbrito</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apifacelorbrito.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>